.modal {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.editModalContainer {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  color: var(--color-light-100);
  border: 1px solid var(--color-dark-500);
}

:is(td, th) > span {
  overflow-x: hidden;
  display: block;

  max-width: 99%;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.headCell {
  width: 20%;
  max-width: min-content;
  padding: 6px 24px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);

  background-color: var(--color-dark-500);

  /* &:nth-child(4){
  width: 20ch;
  }&:nth-child(2){
  width: min(100px, 20%);
  } */

  > span {
    user-select: none;

    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
  }

  &.sortable > span {
    cursor: pointer;
  }

  svg {
    transition: transform 0.2s ease-in-out;
  }
}

.tableCell {
  padding: 6px 24px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);

  background-color: var(--color-bg-table);
  border-bottom: 1px solid var(--color-dark-500);
}

.chevronDown {
  transform: rotate(180deg);
}

.empty {
  display: flex;
  justify-content: center;
  width: 100%;
}

.creatorWithButton {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.iconBtns {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  background-color: inherit;
  border: none;
  border-radius: 50%;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--color-dark-100);
  }
}
